nav ul {
    list-style-type: none;
    margin : 0;
    padding: 0;
    display: flex;
    gap: 100px;
    justify-content: center;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: darkblue;
}