
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 25;
    padding: 1em;
    line-height: 1.6;
    color: #333;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

#main-nav ul {
    list-style-type: none;
    margin : 0;
    padding: 0;
    display: flex;
    gap: 100px;
    justify-content: center;
}

#main-nav li a {
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em;
    display:block;
    transition: color 0.2s ease;
}

#main-nav a:hover {
    color: darkblue;
    background-color: rgba(0, 0, 0, 0.025)
}

